<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.kakao.model.dao.NoticeDao">
	<select id="getNoticeListAll" resultType="com.spring.kakao.model.dto.NoticeDto">
		select
			notice_code,
			notice_title,
			notice_writer,
			notice_date,
			notice_count,
			NULL,
			'0'
		from 
			notice_mst
		order by
			notice_code desc
	</select>
</mapper>